<nav>
	<ul>
		<li><a href="{{ path('sym_index') }}">Proyecto</a></li>
		<li><a href="{{ path('sym_index1') }}">Hola</a></li>
		<li><a href="{{ path('sym_index2') }}">Adiós</a></li>
		<li><a href="{{ path('sym_index3') }}">Imagenes</a></li>
	</ul>
</nav>
