{% extends 'base.html.twig' %}

<nav>
	<ul>
		<li><ahref="{{ path('index3') }}">Inicio</a></li>
		<li><ahref="{{ path('sym_index') }}">Proyecto</a></li>
		<li><ahref="{{ path('sym_about') }}">Acerca de...</a></li>
	</ul>
</nav>
